!*.*
**/[Oo]bj/
**/[Bb]in/
**/TestResults/
**/.nuget/
**/.vscode/
**/coverage/
**/packages/
**/artifacts/
**/PublishProfiles/
**/*.user
**/*.suo
**/*.cache
**/*.docstates
**/project-cache/
**/package.json
**/package-lock.json
**/mocha*
*DS_Store
